// main: ../style.less
.social {
  display: flex;
  margin: 0 0 42px 0 ;
}

.social__link {
  margin: 0 10px 0 0;
  text-decoration: none;

  transition: transform
  .2s linear;

  &:hover {
    transform: translateY(-5px);
  }

}